<div class="row">
<!-- COLUMN ONE -->
    <div class="col-sm-5">
      <h3>Stylists</h3>

      <% if @stylists.any?() %>
        <ul>
          <% @stylists.each do |stylist| %>
          <li><%= stylist.name %></li>
          <% end %>
        </ul>
      <% else %>
      <p>
        There are no stylists. Use the form below to get started!
      </p>
      <% end %>

    </div>
<!-- COLUMN TWO -->
    <div class="col-sm-5">

    <h3>Clients</h3>

  </div>


</div>
<hr>

<!-- SECOND ROW -->
<div class="row">
  <div class="col-sm-5">
    <h4>Add a stylist:</h4>
    <form class="form-group" action="/stylist_success" method="post">
      <label for="stylist_name">Name</label>
      <input class="form-control" type="text" name="stylist_name">
      <button class="btn btn-primary" type="submit">Add stylist</button>
    </form>
  </div>
  <div class="col-sm-5">


  </div>
</div>
