<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>One Creative Salon</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1><a href="/">One Creative</a></h1>
      <h4>A salon in the heart of NE Portland</h4>
      <h5><em>Administrator Dashboard</em></h5>
    </div>
    <div class="container">
        <%= yield%>
        </div>
    </div>
  </body>
</html>
