<div class="row">
    <div class="col-sm-4">
      <h3><%= @stylist %> has been successfully added</h3>
      <a href='/'>Return to dashboard</a>
    </div>

    <div class="col-sm-4">
      <img src="" alt="" />
    </div>
</div>
