ul li {
  list-style-type: none;
  margin-left: 0;
}

.btn {
  margin-top: 10px;
}

label {
  margin-top: 5px;
}

.jumbotron {
  height: 150px;
  padding-top: 5px;
}

h4 {
  color: #777777;
}

h1 a {
  color: #777777;
}

h1 a:hover {
  color: #888888;
  text-decoration: none;
}
