ul li {
  list-style-type: none;
}

.btn {
  margin-top: 10px;
}

.btn btn-primary {
  margin-top: 20px;
}

label {
  margin-top: 5px;
}

.jumbotron {
  height: 200px;
  padding-top: 5px;
  background-image: url(img/scissors.jpg);
  background-repeat: no-repeat;
  background-size: cover;;
}

h4 {
  color: white;
}

h1 a {
  color: white;
}

h1 a:hover {
  color: #f7f7f7;
}
